<div class="wrapper container">
<div class="row"><h4>Emotions charts</h4></div>
    <div class="stockbarchart"></div>
    <div style="height: 10px;"></div>
    <div id="highcharts" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>