<section class="home-top row">
    <div class="emoti-logo">
        <img class="img-responsive" src="/images/emoti-top.jpg"/>
    </div>
    <div class="form-container row"></div>
</section>
<section class="home-middle row">
    <div class="whats-emoti-container col-md4 pull-left">
        <div class="whats-emoti-text"><p>EMOTI is an emotion-tracking software for teams. We believe that wellbeing at
            our workspaces is a legitimate goal that we can reach thanks to technology.</p>

           <p>Your webcam will take periodic snapshots and then we will extract the emotional data from your entire
            work group and mix it with the data of your favorite project management app so you can be aware of how your
            emotions reflect in your everyday work.</p>

            <p>In this way you will have the power to make informed decisions to improve wellbeing in your workspace.</p>
        </div>
        <div class="button-start"><a class="btn btn-warning start-here-btn" href="/show-images">Start here!</a></div>
    </div>
</section>
<section class="home-bottom row">
    <div class="bottom-image-wrapper">
        <img class="img-responsive" src="/images/emoti-bottom.jpg"/>
    </div>
</section>
